#hero {
    .main-wrapper{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6rem;
        position: relative;

        img{
            width: 40%;
            min-width: 200px;
            object-fit: cover;
        }

        .name-wrapper{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            /* font-family: 'miracleregular', 'Playfair Display', 'Times New Roman', serif; */

            .name-1{
                height: 4rem;
                font-weight: 600;
                font-size: 5rem;
                font-family: "RosesBolero", 'Playfair Display', 'Times New Roman', serif;
                letter-spacing: 4px;
            }

            .tagline{
                font-size: 0.9rem;
                font-weight: 600;
                font-family: 'RosesBolero', 'Playfair Display', 'Times New Roman', serif;
                letter-spacing: 2px;
            }

            .cta-container{
                margin-top: 2rem;
            }

            .cta{
                border: 1px solid #000;
                background-color: transparent;
                color: #000;
                width: fit-content;
                padding: 1rem 2.4rem;
                font-family: "RosesBolero", 'Playfair Display', 'Times New Roman', serif;
                font-weight: 600;
                letter-spacing: 2px;
                cursor: pointer;
                transition: all 0.1s ease-in-out;
                text-decoration: none;
                font-size: 0.9rem;

                &:hover{
                    /* transform: scale(1.05); */
                    background-color: #ff73810a;
                    color: #5f2228;
                    border-color: #FF7381;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    #hero {

        .main-wrapper{
            flex-direction: column-reverse;
            justify-content: center;
            gap: 5rem;
            margin-top: 4rem;

            img{
                width: 70%;
            }

            .name-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0;
                font-size: 6rem;
                font-weight: 600;
                letter-spacing: 4px;
                font-family: 'miracleregular', 'Playfair Display', 'Times New Roman', serif;

                .name-1{
                    font-size: 3rem;
                    height: 4.5rem;
                }   

                .cta-container{
                    margin-top: 0rem;
                
                }
            }
        }
    }
    
}