.project-sec {
  font-family: "Inter", sans-serif;
  padding: 10rem 0;
  .pg-title {
    text-align: center;
    margin-bottom: 2rem;
    h3 {
      font-weight: 400;
      text-transform: capitalize;
    }
    h1 {
      text-transform: uppercase;
      font-size: 3rem;
    }
  }

  .projects {
    margin: 1rem 8rem;
    .grid-item {
      padding: 1rem;
      width: 100%;
      .card {
        border-radius: 5px;
        text-align: left;
        overflow: hidden;
        background: rgb(40, 193, 255);
        background: linear-gradient(
          27deg,
          rgba(40, 193, 255, 1) 45%,
          rgba(44, 215, 255, 1) 100%
        );
        padding: 1.5rem;
        .card-body {
          color: #ffffff;

          .actions {
            display: flex;
            justify-content: flex-end;
            .icons {
              margin-left: 1rem;
              color: #ffffff;
            }
          }

          .content-group {
            padding: 0rem 0rem 0rem 1rem;
            .title {
              text-align: left;
              font-weight: 600;
              font-size: 2rem;
              padding: 3rem 0;
            }

            .keywords {
              text-transform: uppercase;
              font-size: 0.9rem;
              letter-spacing: 1.5px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .project-sec {
    .projects {
      margin: 1rem 1rem;
    }
  }
}
