.project-card{
    position: relative;
    z-index: 10;
    background: 
    linear-gradient(
        88.71deg, 
        #67ffede6 -2.61%, 
        #48deffe6 48.15%
    ), 
    linear-gradient(
        180deg, 
        #A1FFF4 11.25%, 
        #81ACFF 100%
    );
    /* background-blend-mode: multiply, normal; */
    transition: all 0.2s ease-in-out;
    opacity: 0.7;
    cursor: pointer;
}

.project-card:hover{
    opacity: 1;
}