*{
  margin: 0;
}

body{
  background-color: #f0f0f0;
  color: #2e2e2e;
  font-family: sans-serif;
}

table{
  border-collapse: collapse;
}

td.nav{
  font-size:8px;
  font-family: sans-serif;
  border: 1px solid;
  text-align: center;
  line-height: 60px;
  width: 40%;
  height: 20px;
  background-color: #f94349;
  border-color: #f94349;
}

td#nav:hover{
  background-color: #ed2c32;
}

h1{
  padding-top: 20px;
  font-size: 35px;
  color: #f0f0f0;
  padding-left: 10px;
  font-family: sans-serif;
}

h5.title{
  font-size: 70%;
  padding-left: 10px;
  padding-bottom: 20px;
  color:#f94349;
}

h6.mainBody{
  font-size: 25px;
}

p.mainBody{
  margin-right: 25px;
  line-height:1.6;
  font-size: 13px;
}

ul{
  margin-right: 20px;
  padding-left: 7%;
  line-height: 1.4;
  font-size: 12px;
}

div.nav{
  background-color: #2e2e2e;
  font-size:100%;
  font-family: sans-serif;
}

div.title{
  background-color: #2e2e2e;
  font-size:200%;
  font-family: sans-serif;
  padding: 20px;
}

div.mainBody{
  margin-left: 160px;
  margin-top: 50px;
}

a.nav{
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}




@media only screen and (min-width: 800px) {
  h1{
    padding-top: 40px;
    font-size: 200%;
    color: #f0f0f0;
    padding-left: 20px;
    font-family: sans-serif;
  }

  h5.title{
    font-size: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    color:#f94349;
  }


  td.nav{
    font-size:80%;
    font-family: sans-serif;
    border: 1px solid;
    text-align: center;
    line-height: 60px;
    width: 40%;
    height: 20px;
    background-color: #f94349;
    border-color: #f94349;
  }

  div.mainBody{
    margin-left: 280px;
    margin-top: 50px;
  }

  h6.mainBody{
    font-size: 200%;
  }

  p.mainBody{
    margin-right: 25px;
    line-height:1.6;
    font-size: 100%;
  }

  ul{
    margin-right: 0;
    padding-left: 3%;
    line-height: 2;
    font-size: 100%;
  }

}
