header {
  // background-color: #e9e9e9;
  .hero-section-grid {
    padding: 5rem 10rem;
    display: flex;
    flex-direction: row;
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-family: "Inter", sans-serif;

      .title-1 {
        font-weight: 300;
        font-size: 1.3rem;
      }
      .title-2 {
        font-weight: 700;
        font-size: 4rem;
      }
      .title-3 {
        font-weight: 700;
        font-size: 2rem;
        text-transform: capitalize;
      }
      .title-4 {
        font-weight: 300;
        font-size: 1rem;
        margin: 1rem 0;
        text-transform: capitalize;
      }
      .call-to-action {
        margin-top: 2rem;

        .btn {
          background-color: #4f3dfe;
          padding: 0.7rem 2rem;
          text-transform: none;
          font-family: "Inter", sans-serif;
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }

    .image {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
      }
    }
  }

  @media all and (max-width: 960px) {
    .hero-section-grid {
      padding: 2rem 0rem;
      display: flex;
      flex-direction: column-reverse;
      .title {
        align-items: center;
        text-align: center;
      }

      .image {
        img {
          width: 60%;
          margin-bottom: 2rem;
        }
      }
    }
  }
  @media all and (max-width: 500px) {
    .hero-section-grid {
      padding: 1rem 0.5rem;
      display: flex;
      flex-direction: column-reverse;

      .title {
        .title-1 {
          font-weight: 300;
          font-size: 1.2rem;
        }
        .title-2 {
          font-weight: 700;
          font-size: 2.5rem;
        }
        .title-3 {
          font-weight: 700;
          font-size: 1.3rem;
          text-transform: capitalize;
        }
        .title-4 {
          font-weight: 300;
          font-size: 1rem;
          margin: 1rem 0;
        }
      }

      .image {
        img {
          width: 100%;
        }
      }
    }
  }
}
