$primary-color: #FF7381;
$color-light-1: #000;
$color-light-2: #444444;
$font-dark: #fff;
$font-1: "RosesBolero", 'Playfair Display', 'Times New Roman', serif;
$font-2: 'miracleregular', 'Playfair Display', 'Times New Roman', serif;