
/***********************************************************************
 *  Color pallate

 white - #f0f0f0 
 purp - #6c63ff  hover - #5750cc
 dark purp - #30374e
 black - #262830

 **********************************************************************/


.my-prod-button {
	font-size: 1em;
	background-color:#6c63ff;
	border-radius:5px;
	border:1px solid #7c75f4;
	display:inline-block;
	cursor:pointer;
	color:#f0f0f0;
	padding:10px 25px;
	text-decoration:none;
	transition: 0.3s;
}
.my-prod-button:hover {
	background-color:#5750cc;
}
.my-prod-button:active {
	position:relative;
	top:1px;
}

a.my-link{
	color: #6c63ff;
}

@media only screen and (max-width: 1000px){
	.my-prod-button {
		font-size: 0.8em;
		padding:10px 15px;
	}
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slideIn{
	animation: 1s ease-out 0s 1 slideInFromBottom;
}

.fadeIn{
	animation: 2s ease-out 0s 1 fadeIn;
}