/***********************************************************************
 *  Color pallate

 white - #f0f0f0 
 purp - #6c63ff
 dark purp - #30374e
 black - #262830

 **********************************************************************/


.dark-font{
    color:#262830;
}

html {
  scroll-behavior: smooth;
}

html,body
{
    overflow-x: hidden; 
}

body {
    margin: 0 auto;
    color:#f0f0f0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;

}

.zone {
    font-size:2em;
}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.my-main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
    align-items: center;
    
}


.my-push-left {
    margin-left: auto;
    margin-right: 10px;
}

li {
    padding: 15px 20px;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    text-decoration: none;  
}

.my-nav-color {
    background: #6c63ff;
} 

.sticky{

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.card{
	overflow: auto;

}

.my-nav-logo{
    height: 2em;
    width: 2em;
    margin-left: 6px;
}

@media only screen and (max-width: 1000px) {
    .my-main-nav {
        font-size: 0.8em;
    }

    li {
    	padding: 15px 7px;
	}

}

/***********************************************************************
 *  Cover
 **********************************************************************/
.my-cover {
    height: 60vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-cover-color {
    background-color: #f0f0f0;
}

.my-cover-img{
    height: 50%;
    margin-top: 40px; 
}

@media only screen and (max-width: 1000px){

	.my-cover {
    	height: 60vh;
	}
	.my-cover-img{
    	height: 40%; 
	}
}

/***********************************************************************
 *  Main Body
 **********************************************************************/
.my-products {
    background-image: linear-gradient(to top, #30374e, #30374e, #f0f0f0, #f0f0f0);
    padding: 0px 10px;
    margin-top: 50px;
    height: 100%;
    transition: transform 1s ease;
}

.my-head{
    font-size: 4em;
    font-weight: 100;
}

.my-content{
    padding: 20px;
    font-size: 1vw;
    text-align: left;
}

.my-descr{
	font-size: 1.2em;
	font-weight: 300;
	width: 60vw;
}

.my-sub-head{
    font-size: 1em;
}

.my-about{
    background-color: #30374e;
    padding-bottom: 200px;
}


@media only screen and (max-width: 1000px) {
   .my-head{
        font-size: 8em;
        font-weight: 100;
    } 

    .my-sub-head{
        font-size: 3em;
    }
    .my-descr{
		font-size: 4em;
		font-weight: 300;
		width: 100%;
	}
}

/***********************************************************************
 *  Footer
 **********************************************************************/
.my-footer {
	color: #6c748c;
    text-align: center;
    padding: 60px;
    background-color: #262830;
    font-size: 0.8em;
    letter-spacing: 1px;
    border: 0px;

}


.row{
    padding: 0px 20px; 
}