#navbar .nav-wrapper ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 400;
    font-size: 14px;
}

#navbar .nav-wrapper ul .right{
    margin-left: auto;
}

#navbar .nav-wrapper ul li a{
    display: block;
    color: #000;
    text-decoration: none;
}

/* #navbar .nav-wrapper ul li .cta{
    background-color: #0000001e;
    border: 1px solid #000000;
    color: #000000;
    padding: 11px 26px;
    border-radius: 4px;
} */
#navbar .nav-wrapper ul li .cta{
    background-color: #EAEAEA;
    color: black;
    padding: 12px 26px;
    border-radius: 4px;
}