@import '../../constants/_variables.scss';

#footer{
    // background-color: #e8e8e8;
    height: 13rem;
    display: flex;
    margin-bottom: 3rem;

    .content{
        border-top: 1px solid #00000049;
        padding-top: 3rem;
        max-width: 720px;
        width: 90%;
        margin: 3rem auto;
        display: flex;
        justify-content: space-between;

        .group{
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            font-size: 0.9rem;

            &.links{
                align-items: flex-end;
                gap: 1rem;
            }

            .brand{
                font-family: $font-1;
                font-size: 1.3rem;
                font-weight: 600;
                letter-spacing: 1.5px;
            }

            .email{
                color: $primary-color;
                text-decoration: none;
            }

            .group-header{
                color: rgba(0, 0, 0, 0.641);
                font-family: $font-1;
                font-size: 0.9rem;
                font-weight: 600;
                letter-spacing: 2px;
            }
            
            .group-content{
                display: flex;
                gap: 1rem;

                a{
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;
                    font-weight: 500;

                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    #footer{
        height: auto;
        margin: 0;
        margin-bottom: 3rem;

        .content{
            margin: 2rem 1rem;
            flex-direction: column;
            gap: 4rem;
            .group{
                .brand{
                    font-size: 1.5rem;
                }
                &.links{
                    align-items: flex-start;
                    gap: 1rem;
                }

                .group-header{
                    font-size: 0.8rem;
                }
            }
        }
    }
}