.custom-title{
    position: relative;
    font-family: "RosesBolero", 'Playfair Display', 'Times New Roman', serif;
    /* font-family: 'miracleregular', 'Playfair Display', 'Times New Roman', serif; */
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 27px;
    letter-spacing: 0.1em;
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
}

.custom-title .lines-l, .custom-title .lines-r{
    position: absolute;
    top: 55%;
    display: block;
    height: 1px;
    width: 6rem;
    background-color: #000;
}

.custom-title .lines-l{
    left: -8rem;
}

.custom-title .lines-r{
    right: -8rem;
}


@media screen and (max-width: 720px) {
    .custom-title .lines-l, .custom-title .lines-r{
        width: 4rem;
    }
    .custom-title .lines-l{
        left: -6rem;
    }
    
    .custom-title .lines-r{
        right: -6rem;
    }
}