.App{
    max-width: 720px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
    margin-top: 1.5rem;
}

body{
    background-color: #fbfbfb;
    overflow-x: hidden;
}

p{
    color: #444444;
    line-height: 171.19%;
    font-size: 0.9rem;
}
